.Hexa_2 {
  position: absolute;
  top: 43vh;
  left: 29vh;
  width: 300px;
  height: 173.21px;
  margin: 86.6px 0;
  border-left: solid 5px #95190c;
  border-right: solid 5px #95190c;
  color: white;
  z-index: 0;
  cursor: pointer;
}
.Hexa_2 {
  animation: fadeindown 2s;
}
@keyframes fadeindown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.Hexa_2:hover::before {
  transition: 0.3s;
  border-top: solid 7.0711px #2e86ab;
  border-right: solid 7.0711px #2e86ab;
}
.Hexa_2:hover {
  transition: 0.5s;
  border-left: solid 5px #2e86ab;
  border-right: solid 5px #2e86ab;
}
.Hexa_2:hover:after {
  transition: 0.8s;
  border-bottom: solid 7.0711px #2e86ab;
  border-left: solid 7.0711px #2e86ab;
}
.Hexa_2:before,
.Hexa_2:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 212.13px;
  height: 212.13px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 39.934px;
}

.Hexa_2:before {
  top: -110.066px;
  border-top: solid 7.0711px #95190c;
  border-right: solid 7.0711px #95190c;
  z-index: 0;
}

.Hexa_2:after {
  bottom: -110.066px;
  border-bottom: solid 7.0711px #95190c;
  border-left: solid 7.0711px #95190c;
  z-index: 0;
}
.Hexa1_content-ul {
  width: 30px;
  margin: 0 80% 0 20%;
}
